.Rhistory
.Rproj.user/BC4C44B8/build_options
*.pper
.Rproj.user/BC4C44B8/sdb/prop/INDEX
.Rproj.user/BC4C44B8/persistent-state
.Rproj.user/BC4C44B8/saved_source_markers
.Rproj.user/BC4C44B8/sdb/prop/111CD26F
.Rproj.user/BC4C44B8/sdb/prop/17AA979E
.Rproj.user/BC4C44B8/sdb/prop/161CC91A
.Rproj.user/BC4C44B8/sdb/prop/1A93D182
.Rproj.user/BC4C44B8/sdb/prop/1E9285DF
.Rproj.user/BC4C44B8/sdb/prop/2288FFB4
.Rproj.user/BC4C44B8/sdb/prop/2738433F
.Rproj.user/BC4C44B8/sdb/prop/27706682
.Rproj.user/BC4C44B8/sdb/prop/30252B74
.Rproj.user/BC4C44B8/sdb/prop/30DCB484
.Rproj.user/BC4C44B8/sdb/prop/33569738
.Rproj.user/BC4C44B8/sdb/prop/3921806E
.Rproj.user/BC4C44B8/sdb/prop/3DA790B7
.Rproj.user/BC4C44B8/sdb/prop/3ED038FA
.Rproj.user/BC4C44B8/sdb/prop/3F558FEE
.Rproj.user/BC4C44B8/sdb/prop/3FD527E7
.Rproj.user
